.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  min-height: 75vh;
}
.hero:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url("../img/bike.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  -webkit-box-shadow: 100vw 100vh 500px 100px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 100vw 100vh 500px 100px rgba(0, 0, 0, 0.5) inset;
}

.hero .inside > div {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
@media (min-width: 1200px) {
  .hero .inside > div {
    width: 66%;
  }
}
.hero .inside > div {
  color: #f8fafc;
  z-index: 1;
}

.activities .inside {
  width: 80vw;
}
.activities .inside h2 {
  margin-top: 250px;
  text-align: center;
  margin-bottom: 125px;
}

.projectWrapper {
  margin-bottom: 250px;
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

div.project:nth-child(1) {
  z-index: 998;
  -webkit-box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
          box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
}
div.project:hover {
  z-index: 1000;
}
div.project:nth-child(2) {
  z-index: 997;
  -webkit-box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
          box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
}
div.project:hover {
  z-index: 1000;
}
div.project:nth-child(3) {
  z-index: 996;
  -webkit-box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
          box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
}
div.project:hover {
  z-index: 1000;
}
div.project:nth-child(4) {
  z-index: 995;
  -webkit-box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
          box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
}
div.project:hover {
  z-index: 1000;
}
div.project:nth-child(5) {
  z-index: 994;
  -webkit-box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
          box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
}
div.project:hover {
  z-index: 1000;
}
div.project:nth-child(6) {
  z-index: 993;
  -webkit-box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
          box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
}
div.project:hover {
  z-index: 1000;
}
div.project:nth-child(7) {
  z-index: 992;
  -webkit-box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
          box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
}
div.project:hover {
  z-index: 1000;
}
div.project:nth-child(8) {
  z-index: 991;
  -webkit-box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
          box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
}
div.project:hover {
  z-index: 1000;
}
div.project:nth-child(9) {
  z-index: 990;
  -webkit-box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
          box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
}
div.project:hover {
  z-index: 1000;
}
div.project:nth-child(10) {
  z-index: 989;
  -webkit-box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
          box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
}
div.project:hover {
  z-index: 1000;
}
div.project:nth-child(11) {
  z-index: 988;
  -webkit-box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
          box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
}
div.project:hover {
  z-index: 1000;
}
div.project:nth-child(12) {
  z-index: 987;
  -webkit-box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
          box-shadow: 30px 5px 20px 15px rgba(47, 44, 44, 0.15);
}
div.project:hover {
  z-index: 1000;
}

.project {
  background-color: #F2E8D8;
}
.project.socialrun {
  background-color: #DCCBB5;
}
.project.break {
  background-color: #F2E8D8;
}
.project.food {
  background-color: #F2E8D8;
}
.project .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.project .discription {
  margin: 40px 30px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project .discription .summary {
  width: 100%;
}
.project .discription .summary .title {
  min-height: 150px;
}
.project .discription .summary h4 {
  margin-bottom: 15px;
  text-align: center;
}
.project .discription .summary h5 {
  margin-bottom: 15px;
}
.project .discription .summary ul {
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
}
.project .projectimage {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  color: #f8fafc;
  position: relative;
  z-index: 1;
  background-position: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.project .projectimage .callToAction {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 3;
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.project .projectimage .callToAction p {
  margin-top: 70px;
}
.project .projectimage .callToAction button {
  width: 50%;
  margin-bottom: 40px;
}

.socialrun.one .projectimage:after {
  position: absolute;
  content: "";
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  z-index: 2;
  background-image: url("../img/socialrun.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
          box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
}

.socialrun.two .projectimage:after {
  position: absolute;
  content: "";
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  z-index: 2;
  background-image: url("../img/runner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
          box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
}

.socialrun.three .projectimage:after {
  position: absolute;
  content: "";
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  z-index: 2;
  background-image: url("../img/socialrun.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
          box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
}

.socialrun.four .projectimage:after {
  position: absolute;
  content: "";
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  z-index: 2;
  background-image: url("../img/runner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
          box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
}

.socialride .projectimage:after {
  position: absolute;
  content: "";
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  z-index: 2;
  background-image: url("../img/bike2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
          box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
}

.socialwalk .projectimage:after {
  position: absolute;
  content: "";
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  z-index: 2;
  background-image: url("../img/walk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
          box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
}

.break.one .projectimage:after {
  position: absolute;
  content: "";
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  z-index: 2;
  background-image: url("../img/break.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
          box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
}

.break.two .projectimage:after {
  position: absolute;
  content: "";
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  z-index: 2;
  background-image: url("../img/ijs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
          box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
}

.food.potluck .projectimage:after {
  position: absolute;
  content: "";
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  z-index: 2;
  background-image: url("../img/praline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
          box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
}

.food.lunch .projectimage:after {
  position: absolute;
  content: "";
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  z-index: 2;
  background-image: url("../img/picknick.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
          box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
}

.food.diner .projectimage:after {
  position: absolute;
  content: "";
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  z-index: 2;
  background-image: url("../img/food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
          box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
}

.end .projectimage:after {
  position: absolute;
  content: "";
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  z-index: 2;
  background-image: url("../img/look.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
          box-shadow: 100vw 100vh 500px 100px rgba(31, 41, 55, 0.7) inset;
}

.about#bigrun {
  background-color: #1e293b;
}
.about#bigrun .inside {
  color: #f8fafc;
}
.about#where {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  min-height: 75vh;
}
.about#where:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url("../img/campagne.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  -webkit-box-shadow: 100vw 100vh 500px 100px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 100vw 100vh 500px 100px rgba(0, 0, 0, 0.5) inset;
}
.about#where .inside {
  color: bisque;
}
.about#practical {
  background-color: #f8fafc;
}
.about#practical .inside {
  color: #1e293b;
}
.about .inside {
  padding-top: 90px;
  padding-bottom: 140px;
}
@media (min-width: 900px) {
  .about .inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about .inside .intro, .about .inside .what {
    width: 55%;
  }
  .about .inside .komoot, .about .inside .where {
    width: 40%;
  }
}
.about .inside h2 {
  margin-bottom: 60px;
}
.about .inside h3 {
  margin-bottom: 40px;
  margin-top: 60px;
}
@media (min-width: 900px) {
  .about .inside h3:first-child {
    margin-top: 0px;
  }
}
.about .likesWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .likesWrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=index.css.map */