$red: #AD1457;
$accent: #A7F3D0;
$black: #1f2937;
$brown: #1e293b;
$backgroundGrey: #ececec;
$white: #f8fafc;

$bgOne: #F2E8D8;
$bgTwo: #DCCBB5;
$bgThree: #CBBFB3;
$bgFour: #D9E3D2;

// $bgOne: #82735C;
// $bgTwo: #9DB17C;
// $bgThree: #9CDE9F;
// $bgFour: #D1F5BE;

$font: 'Abhaya Libre', serif;
$logofont: 'Poppins', cursive;