.contact {
  background-color: #1e293b;
  color: white;
  padding: 100px 0;
}
.contact .error {
  font-size: 18px;
  color: #AD1457;
}
.contact .noError {
  font-size: 18px;
  color: #f8fafc;
}
.contact form {
  padding-top: 20px;
}
.contact form > .group {
  width: 100%;
}
@media (min-width: 900px) {
  .contact form > .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact form > .group > div {
    width: 100%;
  }
}
.contact form > .group > div .error {
  padding-left: 20px;
}
.contact form > .group > div > input, .contact form > .group > div textarea {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-bottom: 1px white solid;
  padding-top: 20px;
  color: white;
}
.contact form > .group > div > input.notValid, .contact form > .group > div textarea.notValid {
  border-bottom: 1px red solid;
}
.contact form > .group > div input:-webkit-autofill,
.contact form > .group > div input:-webkit-autofill:hover,
.contact form > .group > div input:-webkit-autofill:focus,
.contact form > .group > div textarea:-webkit-autofill,
.contact form > .group > div textarea:-webkit-autofill:hover,
.contact form > .group > div textarea:-webkit-autofill:focus,
.contact form > .group > div select:-webkit-autofill,
.contact form > .group > div select:-webkit-autofill:hover,
.contact form > .group > div select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: initial;
  -webkit-box-shadow: initial;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
@media (min-width: 900px) {
  .contact form > .group > div {
    padding-right: 50px;
  }
  .contact form > .group > div:last-child {
    padding-right: 0;
  }
}
.contact form > .group .privacy input[type=checkbox] {
  opacity: 0;
}
.contact form > .group .privacy label {
  width: initial;
  position: relative;
  display: inline-block;
  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding: 0 20px 0 40px;
}
.contact form > .group .privacy label::before, .contact form > .group .privacy label::after {
  position: absolute;
  content: "";
  /*Needed for the line-height to take effect*/
  display: inline-block;
}
.contact form > .group .privacy {
  /*Outer box of the fake checkbox*/
}
.contact form > .group .privacy label::before {
  height: 16px;
  width: 16px;
  border: 1px solid;
  left: 0px;
  top: 3px;
}
.contact form > .group .privacy {
  /*Checkmark of the fake checkbox*/
}
.contact form > .group .privacy label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  color: #AD1457;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 4px;
  top: 7px;
}
.contact form > .group .privacy {
  /*Hide the checkmark by default*/
}
.contact form > .group .privacy input[type=checkbox] + label::after {
  content: none;
}
.contact form > .group .privacy {
  /*Unhide on the checked state*/
}
.contact form > .group .privacy input[type=checkbox]:checked + label::after {
  content: "";
}
.contact form > .group .privacy {
  /*Adding focus styles on the outer-box of the fake checkbox*/
}
.contact form > .group .privacy input[type=checkbox]:focus + label::before {
  outline: #AD1457 auto 5px;
}
.contact label, .contact input, .contact textarea {
  width: 100%;
  width: fill;
  width: -moz-available;
  width: -webkit-fill-available;
}
.contact .privacy {
  margin-bottom: 20px;
}
.contact #privacy {
  width: 0;
}
.contact .fas {
  cursor: pointer;
  padding: 20px 40px;
}
.contact input, .contact textarea {
  padding: 14px;
  margin-bottom: 20px;
}

.privacyPolicy {
  display: none;
  -webkit-transition: display 2s ease;
  transition: display 2s ease;
}